{
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"tabWidth": 4,
	"useTabs": true,
	"htmlWhitespaceSensitivity": "ignore",
	"parsers": {
		".jsx": "flow",
		".scss": "scss",
		".ts": "typescript",
		".less": "css",
		".vue": "vue",
		".nvue": "vue",
		".ux": "vue",
		".yml": "yaml"
	}
}
